.contained {
  background-color: #191B22;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.error {
  margin-left: 15px;
}
.poll {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: 450px;
  margin: auto;
  border: solid 1px #D6D6D6;
  position: relative;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.pollbtn {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.poll h4 {
  margin-left: 15px
}

ul {
  list-style-type: circle !important;
}
ul li {
  margin-left: 15px;
  list-style-type: circle !important;
}
.marginthis {
  margin-bottom:50px;
}

.brand-logo {
  margin-left: 15px;
}

input ::placeholder {
  color: black;
  opacity: .85;
}

.actualpoll {
  display: flex;
  width: 100%;
  height: 100%;
}
.check {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.check i {
  color: #7FBF7F;
  margin: auto;
  font-size: 85px;
}
.thevotes {
  display: flex;
  border-bottom: 1px solid #eee;
}
.votes {
  margin-left: auto;
  margin-right: 20px;
}
.preloader-wrapper {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}
.copyres {
  position: absolute;
  bottom: 15px;
  right: 15px;
}